# ----------------
# startup commands
# ----------------
#startup_commands  toggle_statusbar

# ------
# colors
# ------

background_color            #ffffff
dark_mode_background_color  #000000

text_highlight_color        #bbbbbb

# status_bar_color      #282c34
# status_bar_text_color #ffffff

#status_bar_color      #ffffff
#status_bar_text_color #000000

ui_selected_background_color #eeeeee

unselected_search_highlight_color #bf5adb

custom_color_mode_empty_background_color  #282c34
custom_background_color #282c34
custom_text_color       #ffffff

ui_font Berkeley Mono
status_bar_font_size 24

# -------------
# miscellaneous
# -------------
zoom_inc_factor 1.1
super_fast_search 1
case_sensitive_search 0
touchpad_sensitivity 2.0
single_click_selects_words 0
# highlight_color_a	0.00 0.46 0.86
should_highlight_unselected_search 1
# should_warn_about_user_key_override 1

# --------------
# click commands
# --------------
control_click_command synctex_under_cursor
shift_click_command   delete_highlight_under_cursor
shift_right_click_command smart_jump_under_cursor

# ---------------
# window instance
# ---------------
should_launch_new_instance  1
should_launch_new_window		1
#prerender_page_count        5

# -----------------
# python extensions
# -----------------
#new_command _download_paper python3 -m sioyek.paper_downloader download "%{sioyek_path}" "%{paper_name}"
#alt_click_command _download_paper

# Add/remove text annotations
new_command _add_text python3 -m sioyek.add_text "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}" "%{selected_rect}" "%{command_text}"
new_command _remove_annotations python3 -m sioyek.remove_annotation "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}" "%{selected_rect}"
# adds text with a specified colour
# new_command _add_red_text python3 -m sioyek.add_text "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}" "%{selected_rect}" "%{command_text}" fontsize=5 text_color=255,0,0
#
#Import anntotations
new_command _import_annotations python3 -m sioyek.import_annotations "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}"

# Create a dual panel version of the currrent file
new_command _dual_panelify python3 -m sioyek.dual_panelify "%{sioyek_path}" "%{file_path}" "%{command_text}"


# ---------------
# custom commands
# ---------------
new_macro  _black_background setconfig_background_color(0 0 0)
new_macro  _white_background setconfig_background_color(1 1 1)

